<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Home{% endblock %}</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
  </head>
  <body>
    <nav class="fixed w-full z-20 top-0 start-0 border-b border-gray-200 bg-white backdrop-blur-[26px]">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="{{ url_for('static', filename='assets/pantek_logo.png') }}" class="h-8" alt="Flowbite Logo" />
        </a>
      </div>
    </nav>
    <div class="xl:container mx-auto mt-[4em]">{% block content %} {% endblock %}</div>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
